@media (max-width:800px) { /* 모바일용 */
    .pc {display: none !important;}
    
    /* section intro */


    #intro .bg {box-shadow: 5px 10px 10px 7px rgba(0,0,0,0.3);}

    #intro .cont h1 {font-size: 28px; padding: 40% 0 15% 3%; line-height: 2;}

    #intro .cont .typing {font-size: 16px; width: 270px; padding-left: 3%;}

    @keyframes type {
        0% {width: 0;}
        100% {width: 270px;}
    }

    #intro .cont .circle {position: static; margin-top: 40px;}

    #intro .cont .copy {right: -130px; font-size: 12px;}
    
    /* container */

    #container nav {height: 40px; justify-content: flex-end;}
    #container nav ul li {margin-right: 10px; font-size: 13px;}

    #container > div {height: auto;}
    #container > div > .wrap {padding: 50px 3% 0;}
    
    /* page1 */
    
    #page1 dt {font-size: 20px; margin-bottom: 10px;}
    #page1 dt:before {display: none;}
    #page1 dd {font-size: 16px; line-height: 1.5;}

    #page1 .left {width: auto; float: none;}
    #page1 .left h2 {font-size: 20px;}
    #page1 .left h2:before {width: 5px; height: 25px; top: 7px; margin-right: 5px;}
    #page1 .left img {width: 150px; height: 200px; margin: 20px 0;}

    #page1 .right {width: auto; display: block; text-align: center;}

    #page1 .right .box {display: block; text-align: center;}
    #page1 .right .box > dl {width: auto;}

    #page1 .right .skill {margin-top: 10px;}
    #page1 .right .skill dd {display: block; margin-bottom: 10px;}

    #page1 .right .skill .graph {margin-top: 15px;}
    #page1 .right .skill .graph span {font-size: 12px; line-height: 20px;}
    
    /* page2 */

    #page2 h2 {font-size: 20px; margin: 0 0 20px 0;}
    #page2 h2:before {width: 5px; height: 25px; top: 7px; margin-right: 5px;}

    #page2 .portimg {width: 300px; height: 250px; top: calc(50% - 125px); left: calc(50% - 150px);}
    #page2 .portimg a {display: block;}

    #page2 .tab {width: auto;}

    #page2 .tab ul li {margin: 0; text-align: center;}
    #page2 .tab ul li:after {top: 5px; margin: 0 5px;}

    #page2 .tab ul li a {font-size: 16px;}

    #page2 .tab ul li .select {padding: 0; background: none;}

    #page2 .tab > div {margin-top: 20px; flex-direction: column;}

    #page2 .tab > div > div {width: auto;}
    #page2 .tab > div > .right img {width: 300px; height: 250px;}
    #page2 .tab > div > div h3 {font-size: 22px;}
    #page2 .tab > div > div p {font-size: 14px; margin: 0 0 10px 0; text-align: center;}
    #page2 .tab > div > div p span {margin-right: 5px;}
    
    #page2 .tab > div > div .btn {display: flex; align-items: center; margin-top: 20px;}
    #page2 .tab > div > div .btn a {font-size: 16px; padding: 0 5px; margin: 0 5px; line-height: 35px;}
    
    /* page3 */

    #page3 h2 {font-size: 20px; margin: 0 0 20px 0;}
    #page3 h2:before {width: 5px; height: 25px; top: 7px; margin-left: 5px;}
    
    #page3 .slidecont {width: auto;}
    #page3 .slidecont > a {font-size: 14px; top: calc(28%);}

    #page3 .slide li {width:100vw;}
    #page3 .slide li > div {width: auto; height: auto; align-items: center;}

    #page3 .left {float: none; margin-bottom: 50px;}
    #page3 .left h3 {font-size: 22px;}
    #page3 .left p {font-size: 14px;}

    #page3 .right a {width: 300px; height: 250px;}

    #page3 .right a span {opacity: 1;}

    #page3 .designimg {width: 300px; height: 250px; top: calc(50% - 125px); left: calc(50% - 150px);}
    
    /* page4 */

    #page4 h2 {font-size: 20px; margin: 0 0 20px 0;}
    #page4 h2:before {width: 5px; height: 25px; top: 7px; margin-left: 5px;}

    #page4 .contbox {display: block; width: auto;}
    #page4 .contbox > div {width: auto; height: 200px; font-size: 20px; margin-bottom: 20px;}

    #page4 .track {margin: 30px 0;}

    #page4 .anitxt {font-size: 50px;}

    #page4 .txt {font-size: 14px; word-break: keep-all;}
    #page4 .txt span {font-size: 12px;}
    
    
}

@media (min-width:801px) { /* PC용 */
    .mob {display: none !important;}
    
}