@media (max-width:800px) { /* 모바일용 */
    .pc {display: none !important;}
    html.fix { overflow: hidden; }
    .wrap {width: 94%;}
    
    /* header & footer */
    
    header {height: 80px;}

    header .top {height: auto; padding: 15px 0; border-bottom: 1px solid #ddd;}
    header .top h1 a img {width: 160px; height: 40px;}
    
    header .menu {border-top: 2px solid #000; padding: 15px; color: #333; box-sizing: border-box; display: none; height: 100vh; background: #fff;}
    header .menu.on {display: block;}
    
    header .menu a {padding: 10px 0; display: block;}
    header .menu > li > a {font-size: 18px; font-weight: bold; border-bottom: 1px solid #ddd; position: relative;}
    header .menu > li > a:after {content: ""; background: url(../images/arr_down_mob.png) no-repeat center/cover; width: 25px; height: 25px; position: absolute; right: 5px; top: 11px;}
    header .menu > li > ul {display: none;}
    header .menu > li > ul > li > a {font-size: 16px; position: relative;}
    
    header .menu > li:first-child > ul > li > a:after {content: ""; display: block; background: url(../images/arr_plus_mob.png) no-repeat center/cover; width: 20px; height: 20px; position: absolute; top: 11px; right: 7px;}
    header .menu > li > ul > li > ul {background: #f5f5f5; font-size: 16px; padding: 20px 25px; display: none;}
    
    footer {background: #f5f5f5;} 
    footer .call {font-size: 14px; display: block;}
    footer .call p {margin-top: 10px;}
    
    footer .grncall:after {top: 1px;}
    footer .grncall:before {top: 7px;}
    
    footer .purple {color: #425ABE;}
    footer .purple a {margin-right: 10px; line-height: 29px;}
    footer .purcall:after {display: none;}
    footer .purcall:before {top: 7px;}
    
    footer .purchat:before {content: ""; display: inline-block; width: 25px; height: 25px; border-radius: 10px; background:#2B2171 url(../images/i_chat.png) no-repeat center/cover; margin-right: 10px; position: relative; top: 7px;}
    
    footer .purbot:before {content: ""; display: inline-block; width: 25px; height: 25px; border-radius: 10px; background:#2B2171 url(../images/i_chatbot.png) no-repeat center/cover; margin-right: 10px; position: relative; top: 7px;}

    footer .info {margin: 0; display: block; height: auto; background: none;}
    footer .info ul {padding:0; justify-content: center;}

    footer .info .ifm {background: #fff; padding: 20px 10px; justify-content: center; border-radius: 10px; margin: 20px 0; font-size: 13px; letter-spacing: -0.5px;}
    footer .info .ifm li {margin-right: 10px;}
    footer .info .ifm li:last-child {margin-right: 0;}
    footer .info .ifm a {padding: 0;}
    footer .info .ifm a:after {left: 6px;}
    
    footer .info .sns li:first-child {margin-left: 0;}
    footer .info .sns li a {background: #fff;}

    footer address {margin-top: 20px; font-size: 13px; word-break: keep-all;}
    footer address strong {font-size: 13px;}

    footer .etc {position: static; margin-top: 20px;}
    footer .etc select {width: calc(100% - 50px);}
    footer .etc > div {display: flex; justify-content: space-between; width: 100%; margin-left: 0;}
    footer .etc > div > a {width: 50px; text-align: center; padding: 0; line-height: 40px;}
    footer .etc ul {margin:20px 0 0 0; display: flex; justify-content: space-evenly;}
    footer .etc ul:after {display: none;}
    footer .etc ul li {float: none; margin-left: 0;}
    
    
    .hamburger .line{
      width: 35px;
      height: 3px;
      background-color: #000;
      display: block;
      margin: 8px auto;
      transition: all 0.3s ease-in-out;
    }
    .hamburger:hover{
      cursor: pointer;
    }
    #hamburger-1.is-active .line:nth-child(2){
      opacity: 0;
    }
    #hamburger-1.is-active .line:nth-child(1){
      transform: translateY(11px) rotate(45deg);
    }
    #hamburger-1.is-active .line:nth-child(3){
      transform: translateY(-11px) rotate(-45deg);
    }
    
    /* index main */

    #main {padding: 0;}

    #main .slide {float: none; width: auto;}
    #main .slide ul {position: relative;}
    #main .slide > a {top: 10px;}
    #main .slide .pause {right: 70px;}
    #main .slide .pause.play {right: 70px;}
    #main .slide .prev {right: 40px;}
    #main .slide .next {right: 10px;}

    #main .slide > p {top: 7px; right: 100px;}

    #main .svc {float: none; width: auto; height: auto; padding: 10px; margin-top: 20px;}
    #main .svc h3 {font-size: 16px; color: #333;}
    #main .svc ul {margin-top: 10px; display: flex; flex-wrap: wrap;}
    #main .svc ul li { margin:5px 8px;}

    #main .third {margin-top: 20px;}

    #main .tab {background: none; width: auto; display: flex; justify-content: space-between;}
    #main .tab li {float: none; border-radius: 20px; font-size: 16px; color: #333;}
    #main .tab li a {display: inline-block; float: none; line-height: 20px; padding:0;}
    #main .tab li.select {background: none; color: #333;}
    #main .tab li.select a {text-decoration: underline;}

    #main .tab li:nth-of-type(2):hover {background: none; color: #333;}
    #main .tab li:nth-of-type(3):hover {background: none; color: #333;}
    #main .tab li:nth-of-type(4):hover {background: none; color: #333;}

    #main .newsslide ul {margin-top: 10px; width: auto; display: none; position: static;}
    #main .newsslide li {float: none; margin-right: 0;}
    #main .newsslide li a {display: block; background: none; border: none; padding: 0; width: auto; height: auto;}
    #main .newsslide li a dl {position: relative;}
    #main .newsslide li a dt {font-size: 14px; font-weight: normal; width: 75%;}
    #main .newsslide li a dd {margin-top: 0; position: absolute; top: 0; right: 0;}

    #main .newsslide > a {position: absolute; right: 0; top: 0;}
    #main .newsslide .more {display: block; border: none; line-height: 0; padding: 0;}
    #main .newsslide .more img {margin: 5px 5px 0 0;}

    #main .fourth {margin-top: 20px;}
    #main .fourth h3 {font-size: 16px;}

    #main .fleft {float: none; position: relative;}
    #main .fleft .frame {margin-top: 10px; border-radius: 25px; width: auto;}
    #main .fleft .pslide {position: relative;}

    #main .fright {float: none; width: auto; margin-top: 20px;}
    #main .fright .ftab {top: -5px;}

    #main .fright > div {margin-top: 15px; height: auto; padding:30px 10px;}
    #main .fright > div h4 img {width: 60px; height: 60px;}
    #main .fright > div dt {font-size: 20px;}
    #main .fright > div dd {font-size: 16px;}

    /* index main2 */

    #main2 {padding: 30px 0; margin-top: 20px;}
    #main2 .box1 h3 {font-size: 16px; margin-bottom: 10px;}

    #main2 .box1 > div > div {width: auto; font-size: 14px; padding: 10px 0;}
    #main2 .box1 > div > div ul li {height: auto; margin: 5px 10px;}
    #main2 .box1 > div > div ul li a {padding: 10px 0;}

    #main2 .lbox1 {float: none;}

    #main2 .lbox1 .item1 li a:hover {background: #ecf6ff; color: #429ed7; font-weight: 600;}

    #main2 .rbox1 {float: none; margin-top: 20px;}

    #main2 .box2 {display: flex; flex-direction: column;}
    #main2 .box2 > div {width: auto; height: auto; margin-bottom: 10px;}
    #main2 .box2 > div h3 {font-size: 16px; margin-bottom: 10px;}
    #main2 .box2 > div ul {display: flex; flex-wrap: wrap;}
    #main2 .box2 > div ul li {font-size: 14px; margin-bottom: 10px; width: 50%;}

    #main2 .box2 .blu:after {display: none;}
    #main2 .box2 .org:after {display: none;}

    #main2 .box3 {margin-top: 0; display: block;}
    #main2 .box3 h3 {font-size: 16px;}
    #main2 .box3 > div {width: auto; height: auto;}

    #main2 .col1 > ul {display: flex;}
    #main2 .col1 > ul li {font-size: 16px; margin-bottom: 10px; width:calc(50% - 5px); height: 60px; word-break: keep-all; line-height: normal;}
    #main2 .col1 > ul li:nth-child(3) {margin-left: auto;}
    #main2 .col1 > ul li a { padding: 0 20px; display: flex; align-items: center; height: 100%;}
    #main2 .col1 > ul li a:after {right: 10px;}

    #main2 .col2 > div {padding: 20px;}
    #main2 .col2 > div h3 {margin-bottom: 10px;}
    #main2 .col2 > div a img {width: 100%;}
    #main2 .col2 > div p {font-size: 15px;}

    #main2 .col2 .video {height: auto;}
    #main2 .col2 .card {height: auto; margin-top: 10px;}

    #main2 .col3 {margin-top: 10px; display: flex; flex-wrap: wrap;}
    #main2 .col3 > div {padding: 20px 5px;}
    #main2 .col3 span {font-size: 12px; white-space: normal; word-break: keep-all;}
    #main2 .col3 a {font-size: 14px; padding: 0 15px; margin-bottom: 5px; line-height: 35px;}
    #main2 .col3 > div > div {margin-top: 15px;}

    #main2 .col3 .web, #main2 .col3 .letter {height: auto; margin-bottom: 10px; width:calc(50% - 5px);}
    #main2 .col3 .web {margin-right: auto;}

    #main2 .col3 .qr {width: 100%; height: auto;}
    #main2 .col3 .qr span {font-size: 14px;}
    #main2 .col3 .qr h3 {font-size: 16px;}
    #main2 .col3 .qr ul {display: inline-flex;}
    #main2 .col3 .qr ul li a img {width: 60px; height: 70px;}
    
    /* sub common */

    .head {display: block; margin-bottom: 40px; text-align: center;}
    .head h3 {font-size: 24px; color: #425abe; margin-bottom: 10px;}
    .head ul {display: flex; flex-wrap: wrap; justify-content:center; font-size: 12px;}
    .head ul li:after {margin: 0 5px;}

    .cont {width: auto; float: none;}
    .cont h3 {display: none;}

    /* subcont */
    
    #subcont .search a {padding: 0 25px; right: 30px;}
    
    #subcont table th {display: none;}
    #subcont table td {display: flex; padding: 10px;}
    #subcont table td:nth-of-type(3) {font-weight: 600; font-size: 16px;}
    #subcont table td:first-child {display: none;}
    #subcont table td:last-child {display: none;}

    #subcont .pagego {flex-wrap: wrap} 
    #subcont .pagego > a { width: 20px; height: 20px; margin: 0 3px;}
    #subcont .pagego ul {margin: 0;} 
    #subcont .pagego ul li {margin: 0;} 
    #subcont .pagego ul li a {width: 20px; height: 20px;} 

    #subcont .text {width: auto;}
    
    
}

@media (min-width:801px) { /* PC용 */
    .mob {display: none !important;}
    

}